a {
    text-decoration: none;
}

/* ===Varible=== */
:root {
    --color-main: #757575;
    --color-dark: #212121;
    --color-hover: #2196F3;
    --font-weight: 500;
    --font-size: 14px;
}

/* ===Body=== */
body {
    font-family: 'Roboto', sans-serif;
    color: var(--color-dark);
}

/* ===Logo-Web=== */
.logo-link {
    font-family: 'Raleway';
    font-weight: 700;
    color: #000000;
}

.logo-link-span {
    font-family: 'Raleway';
    font-weight: 700;
    color: var(--color-hover);
}

/* ===Nav=== */
.nav-link {
    font-weight: var(--font-weight);
    color: var(--color-dark);
    font-size: var(--font-size);
    line-height: 1.14;

}

.nav-link:hover,
.nav-link:focus {
    color: var(--color-hover);
}

/* ===Contacts Headre/Footer=== */
.contacts {
    font-style: normal;
    font-weight: var(--font-weight);
    color: var(--color-main);
}

.contacts:hover,
.contacts:focus {
    color: var(--color-hover);
}

/* ==Adres Header/Footer== */
.adres {
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
}

.adres:hover,
.adres:focus {
    color: var(--color-hover);
}

/* =============FIRST PAGE============= */
.h1-title {
    font-style: normal;
    font-weight: 900;
}

/* ==Button Posluga== */
.button-main {
    font-style: normal;
    font-weight: 700;
    cursor: pointer;
}

/* ===Main Kontent=== */
.item-detal {}

.title-detal {
    line-height: 1.14;
    color: var(--color-dark);
    font-size: var(--font-size);
}

.text-detal {
    line-height: 1.71;
    color: var(--color-main);
    font-size: var(--fot-size);
}

/* ===Komanda=== */
.blok-img-title {
    font-size: 36px;
    color: var(--color-dark);
    line-height: 1.16;
}

.img-komanda {}

.title-team {
    font-size: 16px;
    line-height: 1.18;
    color: var(--color-dark);
    font-weight: var(--font-weight);
}

.text-team {
    font-size: 16px;
    line-height: 1.18;
    font-weight: 400;
    color: var(--color-main)
}

/* =============SECOND PAGE============= */
.buttons-link {
    color: var(--color-dark);
    list-style: none;
    line-height: 1.62;
    font-size: 16px;
}

.buttons-link:hover,
.buttons-link:focus {
    background-color: var(--color-hover);
    color: #FFFFFF;
    cursor: pointer;
}

/* ===Our projects=== */
.title-projects {
    font-size: 18px;
    line-height: 2;
    color: var(--color-dark);
    font-weight: 700;
}

.text-projects {
    font-size: 16px;
    line-height: 1.18;
    font-weight: 400;
    color: var(--color-main)
}